
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-goldenline:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-cinema:before { content: '\e80f'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */